.navbar{float:right;
width:900px;
border: 1px black none}
.navbar ul li{list-style:none;
padding:0px;
float:left;
width:120px;
text-align:center;
margin:10px auto}
.navbar ul li a{text-decoration:none;
color:black}
.navbar ul li:hover{background-color:green;
color:white}
.navbar ul li a:hover{background-color:green;
color:white}
body{color:white;
font-family:latha;
background:
url(Screenshot_20230607-125251~2.jpg);
background-size:cover;
background-repeat:no repeat;
linear-gradient(rgba(0,0,0,0.95),rgba(0,0,0,0.65),rgba(0,0,0,0.35),rgba(0,0,0,0));}
.Welcome{
width:300px;
height:539px;
background-color:black;
opacity:0.9;
padding:55px}
.Welcome h1{
color:white;
text-align:center;
text-transform:uppercase;
font-weight:100px}
.Welcome h4{
text-align:justify;
color:white;
font-weight:normal;}
.buttons form,input[type="button"
]{
background-color:rgb(20,20,20);
color:white;
margin:-7px auto;
padding:10px;
padding-left:50px;
padding-right:50px;
text-align:center;
}
.Welcome h2{
text-align:center}

